@{
    ViewData["Title"] = "Contact";
}
@model IEnumerable<OrgValues>
<h3>@ViewData["Message"]</h3>

@foreach(var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-4"><label>Name:</label>@item.displayName</div>
                <div class="col-sm-2"><label>Tel:</label>@item.telephoneNumber</div>
                <div class="col-sm-2"><label>Mob:</label>@item.mobile</div>
            </div>
        </div>
    </div>
}

<script>
    var counter = 0;
    var textFilter = "";    
    $(function () {               
        setInterval(GoHome, 10000);
        setInterval(TimerCount, 1000);        
    })
    function GoHome() {
        if(counter > 60)
            window.location.href = "@Url.Content("~/")";
    }
    function TimerCount() {
        counter = counter + 1;
    }
</script>