@{
    ViewData["Title"] = "Home Page";
}
 
@*
@model IEnumerable<System.Security.Claims.Claim>

<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Claim</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var claim in Model)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
*@
@model eReceptionist.Models.CompanyDetails
@*
<div class="jumbotron">
    <h1>Welcome to @Model.name</h1>
    <p class="lead">Please select who you are.</p>    
</div>
*@
<div id="addCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron">
                <h2>Welcome to @Model.name</h2>
                <p class="lead">Please select who you are.</p>
            </div>
        </div>
        <div class="item">
            <div class="jumbotron">
                <h2>Example Advert</h2>
                <p class="lead">Product 1, please speak to a staff member about this product!</p>
            </div>
        </div>
        <div class="item">
            <div class="jumbotron">
                <h2>Example Advert</h2>
                <p class="lead">Product 2, please speak to a staff member about this product!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6"><div id="StaffLogin" class="text-center"><h1>Staff</h1></div></div>
    <div class="col-sm-6"><div id="VisitorLogin" class="text-center"><h1>Visitor</h1></div></div>
</div>
<script>
    $(function () {
        $('#StaffLogin').on("click", function () {
            window.location = '@Url.Content("~")Staff/';
        })
        $('#VisitorLogin').on("click", function () {
            window.location = '@Url.Content("~")Visitor/';
        })
    })
</script>